body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    width: 180px;
    background: #e9a73c;
    height: 100vh;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
.sidebar menu
{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.sidebar a {
    padding: 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.sidebar a:hover {
    background: #d89327;
}

.content {
    flex: 1;
    background: #f3b138;
    padding: 30px;
}

/* -------- top bar: search + nút thêm ---------- */

.topbar {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.search {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
}

.add-btn {
    background: #fff;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    color: #333;
    border-radius: 6px;
    cursor: pointer;
}

.add-btn:hover {
    background: #ffe39f;
}

/* -------- danh sách món ---------- */

.item {
     background: rgba(255,255,255,0.4);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.item img {
    width: 80px;
    height: 60px;
    object-fit: cover;
}

.item a {
    margin-left: auto;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    color: brown;
}
